In [1]:
from hotel import final_hotel_data_processor
from room  import load_room_data
# 함수 사용
hotel= final_hotel_data_processor()
room= load_room_data()
# 필요라이브러리 로딩
import pymysql
import pandas as pd
import numpy as np
import seaborn as sns  # 시각화 라이브러리, matplotlib보다 단순함
import matplotlib.pyplot as plt
import plotly.io as pio
import plotly.express as px 
plt.rcParams['font.family'] = 'Malgun Gothic'
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_rows', 200)
import pandas as pd 
import chardet

In [2]:
hotel

,hotel_name,road_addr,addr,hotel_id,regino_sigugun,region,lat,lng,hoteLgrade,객실수,호텔규모,업태구분명,market
0,아르반호텔,부산 부산진구 중앙대로691번길 32,부산 부산진구 부전동 517-60,101,부산진구,부산,35,129,미등급,94,100개 미만,숙박업 기타,국내
1,솔라리아니시테츠부산,부산 부산진구 서면로 20,부산 부산진구 부전동 233-16,102,부산진구,부산,35,129,미등급,203,200개 이상,일반호텔,국내
2,부산비즈니스호텔,부산 부산진구 부전로 67,부산 부산진구 부전동 512-4,104,부산진구,부산,35,129,3성,233,200개 이상,관광호텔업,국내
3,스탠포드인부산,부산 중구 구덕로 53,부산 중구 남포동5가 57-1,105,중구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
4,크라운하버호텔부산,부산 중구 중앙대로 114,부산 중구 중앙동4가 83-1,106,중구,부산,35,129,미등급,500,200개 이상,일반호텔,국내
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2972,RG호텔,서울 성북구 고려대로7길 88,서울 성북구 동선동2가 34,11602,성북구,서울,38,127,미등급,미분류,미분류,미분류,국내
2973,더월호텔,서울 성북구 동소문로 109-14,서울 성북구 동선동4가 81-2,11603,성북구,서울,38,127,미등급,미분류,미분류,미분류,국내
2974,호텔월드스테이,서울 성북구 동소문로18길 24-20,서울 성북구 동소문동5가 59-4,11604,성북구,서울,38,127,미등급,미분류,미분류,미분류,국내
2975,파브모텔,서울 성북구 동소문로20나길 5,서울 성북구 동선동1가 2-10,11605,성북구,서울,38,127,미등급,미분류,미분류,미분류,국내
2976,깨비스테이,경북 포항시 남구 동해면 세오로 60,경북 포항시 남구 동해면 신정리 395,11606,포항시,경상,36,129,미등급,미분류,미분류,미분류,국내

In [4]:
target_list=[101, 102, 104, 105, 106, 107, 108, 112, 114, 115, 117, 119, 120, 121, 122, 123, 124, 139, 140, 141, 142, 143, 147, 150, 153, 170, 171, 189, 190, 191, 192, 193, 194, 195, 196, 198, 199, 200, 201, 202, 203, 204, 205, 208, 209, 210, 211, 213, 214, 215, 217, 218, 220, 221, 226, 228, 233, 247, 250, 252, 257, 259, 269, 271, 275, 276, 280, 282, 284, 293, 298, 299, 301, 302, 308, 312, 316, 322, 327, 329, 337, 349, 351, 368, 369, 372, 373, 374, 378, 383, 399, 422, 425, 426, 431, 432, 440, 454, 462, 477, 480, 489, 491, 499, 502, 507, 510, 514, 516, 523, 528, 529, 531, 534, 551, 630, 631, 707, 710, 720, 730, 741, 743, 757, 808, 818, 819, 834, 835, 836, 838, 839, 843, 873, 875, 878, 880, 881, 882, 884, 885, 887, 889, 891, 892, 895, 898, 900, 901, 902, 904, 908, 911, 913, 919, 920, 927, 931, 939, 945, 952, 964, 969, 972, 978, 979, 980, 1007, 1008, 1009, 1015, 1021, 1022, 1025, 1026, 1028, 1060, 1062, 1066, 1083, 1088, 1090, 1094, 1095, 1107, 1110, 1127, 1130, 1165, 1232, 1233, 1235, 1236, 1253, 1254, 1255, 1272, 1284, 1294, 1295, 1296, 1297, 1309, 1310, 1311, 1312, 1313, 1316, 1336, 1337, 1344, 1346, 1348, 1350, 1357, 1358, 1365, 1367, 1378, 1379, 1381, 1385, 1386, 1387, 1390, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1518, 1519, 1520, 1521, 1522, 1523, 1525, 1526, 1527, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1539, 1540, 1541, 1542, 1543, 1547, 1548, 1549, 1550, 1551, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1609, 1610, 1611, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1674, 1675, 1676, 1677, 1678, 1680]
target_list

[101,
 102,
 104,
 105,
 106,
 107,
 108,
 112,
 114,
 115,
 117,
 119,
 120,
 121,
 122,
 123,
 124,
 139,
 140,
 141,
 142,
 143,
 147,
 150,
 153,
 170,
 171,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 208,
 209,
 210,
 211,
 213,
 214,
 215,
 217,
 218,
 220,
 221,
 226,
 228,
 233,
 247,
 250,
 252,
 257,
 259,
 269,
 271,
 275,
 276,
 280,
 282,
 284,
 293,
 298,
 299,
 301,
 302,
 308,
 312,
 316,
 322,
 327,
 329,
 337,
 349,
 351,
 368,
 369,
 372,
 373,
 374,
 378,
 383,
 399,
 422,
 425,
 426,
 431,
 432,
 440,
 454,
 462,
 477,
 480,
 489,
 491,
 499,
 502,
 507,
 510,
 514,
 516,
 523,
 528,
 529,
 531,
 534,
 551,
 630,
 631,
 707,
 710,
 720,
 730,
 741,
 743,
 757,
 808,
 818,
 819,
 834,
 835,
 836,
 838,
 839,
 843,
 873,
 875,
 878,
 880,
 881,
 882,
 884,
 885,
 887,
 889,
 891,
 892,
 895,
 898,
 900,
 901,
 902,
 904,
 908,
 911,
 913,
 919,
 920,
 927,
 931,
 939,
 945,
 952,
 964,
 969,
 972,
 978,
 979,
 980,
 1007,
 1008,
 1009,
 1015,
 1021,
 1022,
 1025,
 1026,
 1028,
 1060,
 1062,
 1066,
 1083,
 1088,
 1090,
 1094,
 1095,
 1107,
 1110,
 1127,
 1130,
 1165,
 1232,
 1233,
 1235,
 1236,
 1253,
 1254,
 1255,
 1272,
 1284,
 1294,
 1295,
 1296,
 1297,
 1309,
 1310,
 1311,
 1312,
 1313,
 1316,
 1336,
 1337,
 1344,
 1346,
 1348,
 1350,
 1357,
 1358,
 1365,
 1367,
 1378,
 1379,
 1381,
 1385,
 1386,
 1387,
 1390,
 1412,
 1413,
 1414,
 1415,
 1416,
 1417,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1441,
 1442,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1525,
 1526,
 1527,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1539,
 1540,
 1541,
 1542,
 1543,
 1547,
 1548,
 1549,
 1550,
 1551,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1583,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1609,
 1610,
 1611,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1674,
 1675,
 1676,
 1677,
 1678,
 1680]

In [8]:
target=hotel[hotel['hotel_id'].isin(target_list)]
target

,hotel_name,road_addr,addr,hotel_id,regino_sigugun,region,lat,lng,hoteLgrade,객실수,호텔규모,업태구분명,market
0,아르반호텔,부산 부산진구 중앙대로691번길 32,부산 부산진구 부전동 517-60,101,부산진구,부산,35,129,미등급,94,100개 미만,숙박업 기타,국내
1,솔라리아니시테츠부산,부산 부산진구 서면로 20,부산 부산진구 부전동 233-16,102,부산진구,부산,35,129,미등급,203,200개 이상,일반호텔,국내
2,부산비즈니스호텔,부산 부산진구 부전로 67,부산 부산진구 부전동 512-4,104,부산진구,부산,35,129,3성,233,200개 이상,관광호텔업,국내
3,스탠포드인부산,부산 중구 구덕로 53,부산 중구 남포동5가 57-1,105,중구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
4,크라운하버호텔부산,부산 중구 중앙대로 114,부산 중구 중앙동4가 83-1,106,중구,부산,35,129,미등급,500,200개 이상,일반호텔,국내
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,엘리시안강촌,강원 춘천시 남산면 북한강변길 688,강원 춘천시 남산면 북한강변길 688,1675,춘천시,강원,38,128,미등급,미분류,200개 이상,미분류,국내
1479,소노벨비발디파크bc구오크파인,강원 홍천군 서면 한치골길 264,강원 홍천군 서면 팔봉리 1289,1676,홍천군,강원,38,128,미등급,미분류,200개 이상,미분류,국내
1480,오크밸리리조트,강원 원주시 지정면 오크밸리1길 66,강원 원주시 지정면 월송리 1061,1677,원주시,강원,37,128,미등급,미분류,200개 이상,미분류,국내
1481,휘닉스평창호텔,강원 평창군 봉평면 태기로 174,강원 평창군 봉평면 면온리 1095-1,1678,평창군,강원,38,128,4성,130,200개 미만,관광호텔업,국내
1483,가평마이다스호텔리조트,경기 가평군 청평면 북한강로 2245,경기 가평군 청평면 삼회리 74-1,1680,가평군,경기,0,0,미등급,70,100개 미만,일반호텔,국내

In [12]:
target.query('region=="부산"')

,hotel_name,road_addr,addr,hotel_id,regino_sigugun,region,lat,lng,hoteLgrade,객실수,호텔규모,업태구분명,market
0,아르반호텔,부산 부산진구 중앙대로691번길 32,부산 부산진구 부전동 517-60,101,부산진구,부산,35,129,미등급,94,100개 미만,숙박업 기타,국내
1,솔라리아니시테츠부산,부산 부산진구 서면로 20,부산 부산진구 부전동 233-16,102,부산진구,부산,35,129,미등급,203,200개 이상,일반호텔,국내
2,부산비즈니스호텔,부산 부산진구 부전로 67,부산 부산진구 부전동 512-4,104,부산진구,부산,35,129,3성,233,200개 이상,관광호텔업,국내
3,스탠포드인부산,부산 중구 구덕로 53,부산 중구 남포동5가 57-1,105,중구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
4,크라운하버호텔부산,부산 중구 중앙대로 114,부산 중구 중앙동4가 83-1,106,중구,부산,35,129,미등급,500,200개 이상,일반호텔,국내
5,라마다앙코르바이윈덤부산역,부산 동구 초량동 중앙대로196번길 10,부산 동구 초량동 1204-1,107,동구,부산,35,129,미등급,446,200개 이상,일반호텔,국내
6,센텀프리미어호텔,부산 해운대구 센텀1로 17,부산 해운대구 우동 1521,108,해운대구,부산,35,129,미등급,462,200개 이상,일반호텔,국내
7,베니키아프리미어호텔해운대,부산 해운대구 해운대해변로 317,부산 해운대구 중동 1398-23,112,해운대구,부산,35,129,3성,166,200개 미만,관광호텔업,국내
8,마리안느호텔,부산 해운대구 해운대해변로 310,부산 해운대구 중동 1400-24,114,해운대구,부산,0,0,3성,127,200개 미만,관광호텔업,국내
9,베스트웨스턴해운대호텔,부산 해운대구 구남로 42,부산 해운대구 중동 1391-42,115,해운대구,부산,35,129,미등급,134,200개 미만,일반호텔,국내
10,페어필드바이메리어트부산,부산 해운대구 해운대해변로 314,부산 해운대구 중동 1400-60,117,해운대구,부산,35,129,3성,225,200개 이상,관광호텔업,국내
11,이비스버젯앰배서더부산해운대,부산 해운대구 해운대해변로209번길 8,부산 해운대구 우동 651-1,119,해운대구,부산,35,129,2성,178,200개 미만,관광호텔업,국내
12,이비스앰배서더부산해운대,부산 해운대구 해운대해변로237번길 12,부산 해운대구 우동 629-3,120,해운대구,부산,35,129,미등급,237,200개 이상,관광호텔,국내
13,라발스호텔부산,부산 영도구 봉래나루로 82,부산 영도구 봉래동1가 29,121,영도구,부산,35,129,미등급,380,200개 이상,일반호텔,국내
14,펠릭스바이STX호텔스위트,부산 해운대구 해운대로 620,부산 해운대구 우동 539-10,122,해운대구,부산,35,129,미등급,미분류,200개 이상,미분류,국내
15,신라스테이해운대,부산 해운대구 해운대로570번길 46,부산 해운대구 우동 629-6,123,해운대구,부산,35,129,4성,407,200개 이상,관광호텔업,국내
16,코오롱씨클라우드호텔,부산 해운대구 해운대해변로 287,부산 해운대구 중동 1392-100,124,해운대구,부산,35,129,미등급,208,200개 이상,숙박업(생활),국내
17,아바니센트럴부산,부산 남구 전포대로 133,부산 남구 문현동 1227-2,139,남구,부산,35,129,4성,281,200개 이상,관광호텔업,국내
25,호텔농심,부산 동래구 금강공원로20번길 23,부산 동래구 온천동 137-7,170,동래구,부산,35,129,5성,240,200개 이상,관광호텔업,국내
26,롯데호텔부산,부산 부산진구 가야대로 772,부산 부산진구 부전동 503-15,171,부산진구,부산,35,129,5성,650,200개 이상,관광호텔업,국내
85,호텔아쿠아펠리스,부산 수영구 광안해변로 225,부산 수영구 광안동 192-5,247,수영구,부산,0,0,3성,111,200개 미만,관광호텔업,국내
88,호메르스호텔,부산 수영구 광안해변로 217,부산 수영구 광안해변로 217,250,수영구,부산,35,129,3성,143,200개 미만,관광호텔업,국내
95,베스트루이스해밀턴호텔광안점,부산 수영구 광안해변로 276,부산 수영구 민락동 181-205,257,수영구,부산,0,0,2성,50,100개 미만,관광호텔업,국내
97,호텔센트럴베이,부산 수영구 광안해변로 189,부산 수영구 광안동 197-2,259,수영구,부산,35,129,3성,134,200개 미만,관광호텔업,국내
107,베이하운드호텔,부산 영도구 태종로65번길 11,부산 영도구 대교동1가 68-1,269,영도구,부산,0,0,2성,69,100개 미만,관광호텔업,국내
109,지앤지GG관광호텔부산대연동,부산 남구 유엔평화로4번길 34,부산 남구 대연동 1751-16,271,남구,부산,0,0,2성,41,100개 미만,관광호텔업,국내
113,하운드호텔기장일광점,부산 기장군 일광면 해송3로 2,부산 기장군 일광면 삼성리 890-4,276,기장군,부산,0,0,2성,55,100개 미만,관광호텔업,국내
117,브라운도트호텔덕천점,부산 북구 금곡대로8번길 20,부산 북구 금곡대로8번길 20,280,북구,부산,35,129,2성,47,100개 미만,관광호텔업,국내
119,파라곤호텔,부산 사상구 광장로 46,부산 사상구 괘법동 564-25,282,사상구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
120,부산관광호텔,부산 중구 광복로97번길 23,부산 중구 동광동2가 12-1,284,중구,부산,35,129,3성,275,200개 이상,관광호텔업,국내
127,레이어스호텔,부산 사하구 낙동남로 1395,부산 사하구 하단동 525-4,293,사하구,부산,35,129,미등급,350,200개 이상,관광호텔,국내
132,제이비디자인호텔,부산 해운대구 구남로12번길 31,부산 해운대구 구남로12번길 31,298,해운대구,부산,35,129,2성,80,100개 미만,관광호텔업,국내
135,파라다이스호텔부산,부산 해운대구 해운대해변로 296,부산 해운대구 중동 1408-5,301,해운대구,부산,35,129,5성,532,200개 이상,관광호텔업,국내
136,파크하얏트부산,부산 해운대구 마린시티1로 51,부산 해운대구 우동 1409-3,302,해운대구,부산,35,129,5성,269,200개 이상,관광호텔업,국내
142,시그니엘부산,부산 해운대구 달맞이길 30,부산 해운대구 중동 1829,308,해운대구,부산,35,129,5성,260,200개 이상,관광호텔업,국내
146,미포오션사이드호텔,부산 해운대구 달맞이길62번길 28,부산 해운대구 중동 957-1,312,해운대구,부산,0,0,2성,28,100개 미만,소형호텔업,국내
149,토요코인부산역1,부산 동구 중앙대로196번길 12,부산 동구 초량동 1203-15,316,동구,부산,35,129,2성,359,200개 이상,관광호텔업,국내
154,이비스앰배서더부산시티센터,부산 부산진구 중앙대로 777,부산 부산진구 부전동 573-7,322,부산진구,부산,35,129,3성,207,200개 이상,관광호텔업,국내
157,서면라이온호텔부산,부산 부산진구 중앙대로691번가길 14-7,부산 부산진구 부전동 519-26,327,부산진구,부산,35,129,2성,73,100개 미만,관광호텔업,국내
159,티티호텔,부산 부산진구 새싹로 35,부산 부산진구 부전동 401-12,329,부산진구,부산,35,129,3성,103,200개 미만,관광호텔업,국내
737,켄트호텔광안리바이켄싱턴,부산 수영구 광안해변로 229,부산 수영구 광안동 192-18,913,수영구,부산,35,129,미등급,85,100개 미만,숙박업(생활),국내
1084,라마다앙코르해운대,부산 해운대구 구남로 9,부산 해운대구 우동 603-19,1272,해운대구,부산,35,129,미등급,402,200개 이상,일반호텔,국내
1221,부산호텔마레,부산 수영구 남천바다로 30,부산 수영구 남천바다로 30,1412,수영구,부산,35,129,미등급,27,100개 미만,일반호텔,국내
1222,투헤븐호텔,부산 수영구 남천바다로33번길 25,부산 수영구 광안동 202-8,1413,수영구,부산,0,0,2성,31,100개 미만,관광호텔업,국내
1223,호텔브라운도트광안비치점,부산 수영구 남천바다로33번길 31,부산 수영구 광안동 202-4,1414,수영구,부산,0,0,1성,29,100개 미만,소형호텔업,국내
1224,부산광안리부띠크호텔휴,부산 수영구 광남로 132,부산 수영구 광안동 194-8,1415,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1225,넘버25광안리점,부산 수영구 광안해변로284번길 16,부산 수영구 민락동 181-177,1416,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1226,광안리호텔메종,부산 수영구 민락본동로11번길 59,부산 수영구 민락동 181-49,1417,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1227,부산광안리누리호텔,부산 수영구 남천바다로33번길 86,부산 수영구 광안동 197-34,1418,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1228,부산문현동정성호텔,부산 남구 수영로13번길 9,부산 남구 수영로13번길 9,1419,남구,부산,35,129,미등급,41,100개 미만,일반호텔,국내
1229,부산대연동호텔스미스,부산 남구 못골로12번길 20,부산 남구 대연동 1767-4,1420,남구,부산,0,0,미등급,32,100개 미만,숙박업 기타,국내
1230,부산대연동뮤트호텔,부산 남구 수영로220번길 7,부산 남구 대연동 1746-18,1421,남구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1231,부산대연동hotelonna호텔온나,부산 남구 유엔평화로4번길 5,부산 남구 대연동 1747-2,1422,남구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1232,부산대연동호텔보스코,부산 남구 못골로12번길 64,부산 남구 대연동 1758-5,1423,남구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1233,대연뮤리,부산 남구 수영로219번길 12-8,부산 남구 대연동 1745-6,1424,남구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1236,해운대센텀호텔,부산 해운대구 센텀3로 20,부산 해운대구 우동 1505,1427,해운대구,부산,35,129,미등급,219,200개 이상,숙박업(생활),국내
1237,베스트루이스해밀턴호텔기장,부산 기장군 기장읍 반송로 1545,부산 기장군 기장읍 반송로 1545,1428,기장군,부산,35,129,미등급,30,100개 미만,일반호텔,국내
1238,부산기장브라운도트기장연화리점,부산 기장군 기장읍 연화길 46-5,부산 기장군 기장읍 연화리 214-6,1429,기장군,부산,0,0,미등급,18,100개 미만,여관업,국내
1239,부산기장이데아,부산 기장군 기장읍 차성로 403,부산 기장군 기장읍 교리 324-6,1430,기장군,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1240,부산기장헤이데이,부산 기장군 기장읍 반송로 1547,부산 기장군 기장읍 서부리 432,1431,기장군,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1241,부산기장호텔리안,부산 기장군 장안읍 부족골길 54,부산 기장군 장안읍 임랑리,1432,기장군,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1242,부산기장부띠끄호텔5월로,부산 기장군 기장읍 차성로 365,부산 기장군 기장읍 동부리 393-1,1433,기장군,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1243,타워힐호텔,부산 중구 백산길 20,부산 중구 동광동3가 20,1434,중구,부산,35,129,3성,116,200개 미만,관광호텔업,국내
1244,호텔포레프리미어남포,부산 중구 구덕로 54-1,부산 중구 남포동5가 8-1,1435,중구,부산,35,129,미등급,107,200개 미만,일반호텔,국내
1245,지앤비호텔,부산 중구 흑교로 19,부산 중구 부평동3가 40-5,1436,중구,부산,35,129,미등급,102,200개 미만,일반호텔,국내
1246,호텔아벤트리부산,부산 중구 광복로39번길 6,부산 중구 창선동1가 12-1,1437,중구,부산,35,129,미등급,81,100개 미만,일반호텔,국내
1247,코모도호텔부산,부산 중구 중구로 151,부산 중구 영주동 742-13,1438,중구,부산,35,129,4성,311,200개 이상,관광호텔업,국내
1248,베스트루이스해밀턴해운대,부산 해운대구 우동 653-3,부산 해운대구 우동 653-3,1439,해운대구,부산,35,129,미등급,64,100개 미만,일반호텔,국내
1249,해운대더반호텔,부산 해운대구 해운대해변로197번길 10-18,부산 해운대구 우동 762-53,1440,해운대구,부산,0,0,미등급,58,100개 미만,일반호텔,국내
1250,부산라메르호텔,부산 동구 조방로34번길 9,부산 동구 조방로34번길 9,1441,동구,부산,35,129,2성,49,100개 미만,관광호텔업,국내
1251,부산범일동브라운도트범일점부산역,부산 동구 중앙대로 528,부산 동구 범일동 62-741,1442,동구,부산,0,0,미등급,48,100개 미만,일반호텔,국내
1253,티알티호텔,부산 부산진구 부전로 33-1,부산 부산진구 부전동 526-18,1444,부산진구,부산,0,0,2성,49,100개 미만,관광호텔업,국내
1254,본호텔,부산 북구 낙동대로 1746-8,부산 북구 구포동 365-2,1445,북구,부산,0,0,미등급,53,100개 미만,일반호텔,국내
1255,부산화명동덴바스타호텔,부산 북구 금곡대로303번길 91,부산 북구 화명동 2270-1,1446,북구,부산,0,0,미등급,35,100개 미만,여관업,국내
1256,부산화명동브라운도트화명점,부산 북구 금곡대로303번길 89,부산 북구 화명동 2270-1,1447,북구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1257,아스티호텔부산역,부산 동구 중앙대로214번길 7-8,부산 동구 초량동 1201-1,1448,동구,부산,35,129,4성,360,200개 이상,관광호텔업,국내
1258,페어필드바이메리어트부산송도비치,부산 서구 송도해변로 113,부산 서구 암남동 230,1449,서구,부산,35,129,3성,179,200개 미만,관광호텔업,국내
1259,부산서면퀸스호텔,부산 부산진구 부전로 56,부산 부산진구 부전로 56,1450,부산진구,부산,35,129,미등급,41,100개 미만,일반호텔,국내
1260,부산서면넘버25서면1번가점,부산 부산진구 부전동 522-24,부산 부산진구 부전동 522-24,1451,부산진구,부산,35,129,미등급,15,100개 미만,여관업,국내
1261,더스위트호텔,부산 부산진구 중앙대로691번가길 14-9,부산 부산진구 부전동 519-27,1452,부산진구,부산,35,129,미등급,25,100개 미만,일반호텔,국내
1262,부산서면하운드1번가점,부산 부산진구 중앙대로691번가길 10,부산 부산진구 부전동 520-19,1453,부산진구,부산,35,129,미등급,40,100개 미만,일반호텔,국내
1263,더블린호텔,부산 부산진구 서면로 29,부산 부산진구 부전동 522-49,1454,부산진구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1264,그랩디오션송도,부산 서구 송도해변로 97,부산 서구 암남동 234,1455,서구,부산,35,129,미등급,361,200개 이상,일반호텔,국내
1265,미디호텔부산영도,부산 영도구 태종로 45,부산 영도구 대교동1가 56,1456,영도구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1267,하운드호텔부산역,부산 동구 중앙대로236번길 9,부산 동구 초량동 1195-12,1458,동구,부산,35,129,미등급,39,100개 미만,일반호텔,국내
1268,엘리시아부띠크호텔해운대,부산 해운대구 구남로 49,부산 해운대구 중동 1392-26,1459,해운대구,부산,35,129,미등급,34,100개 미만,일반호텔,국내
1269,해운대썬클라우드호텔,부산 해운대구 해운대해변로 287,부산 해운대구 중동 1392-100,1460,해운대구,부산,35,129,미등급,91,100개 미만,숙박업(생활),국내
1270,부산해운대ms호텔,부산 해운대구 해운대해변로 271,부산 해운대구 중1동 1417-2,1461,해운대구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1271,오션투헤븐호텔스파,부산광역시 중구 자갈치로 21,부산 중구 남포동6가 29,1462,중구,부산,35,129,미등급,25,100개 미만,일반호텔,국내
1273,해운대영무파라드호텔,부산 해운대구 해운대해변로298번길 25,부산 해운대구 해운대해변로298번길 25,1464,해운대구,부산,35,129,미등급,195,200개 미만,일반호텔,국내
1274,해운대센트럴호텔,부산 해운대구 해운대해변로298번길 33,부산 해운대구 중동 1137-4,1465,해운대구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
1290,베스트루이스해밀턴호텔서부산점,부산 강서구 범방동 1899-5,부산 강서구 범방동 1899-5,1481,강서구,부산,35,129,2성,50,100개 미만,관광호텔업,국내
1291,부산강서지사동헤르몬호텔,부산 강서구 과학산단2로10번길 23,부산 강서구 지사동 1197-4,1482,강서구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1292,강서굿프라임,부산 강서구 과학산단2로 12,부산 강서구 지사동 1196-4,1483,강서구,부산,0,0,미등급,40,100개 미만,숙박업 기타,국내
1293,부산강서베스티호텔,부산 강서구 미음산단로 17,부산 강서구 구랑동 1205-2,1484,강서구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1294,부산명지호텔oia,부산 강서구 명지국제6로1번길 24,부산 강서구 명지동 3582-2,1485,강서구,부산,35,129,미등급,미분류,200개 이상,미분류,국내
1295,신라스테이서부산,부산 강서구 명지국제7로 38,부산 강서구 명지동 3595-1,1486,강서구,부산,35,129,미등급,295,200개 이상,관광호텔,국내
1296,에어스카이호텔,부산 강서구 유통단지1로57번길 2,부산 강서구 대저2동 3148-9,1487,강서구,부산,0,0,2성,61,100개 미만,관광호텔업,국내
1304,하운드호텔프리미어남포,부산 중구 보수대로 24,부산 중구 부평동2가 51-3,1495,중구,부산,35,129,미등급,87,100개 미만,일반호텔,국내
1305,노떼라미아,부산 동구 대영로 265,부산 동구 초량동 1213-14,1496,동구,부산,35,129,미등급,112,200개 미만,일반호텔,국내
1338,그랜드조선부산,부산 해운대구 해운대해변로 292,부산 해운대구 중동 1405-16,1530,해운대구,부산,35,129,5성,330,200개 이상,관광호텔,국내
1339,메르씨엘호텔,부산 해운대구 해운대로 620,부산 해운대구 해운대로 620,1531,해운대구,부산,35,129,미등급,30,100개 미만,숙박업(생활),국내
1356,센트럴파크호텔부산,부산 중구 해관로 20,부산 중구 중앙동1가 22-7,1549,중구,부산,35,129,미등급,67,100개 미만,일반호텔,국내
1371,부산범천동하운드서면범천,부산 부산진구 황령대로7번길 10,부산 부산진구 범천동 858-48,1564,부산진구,부산,35,129,미등급,56,100개 미만,일반호텔,국내
1372,부산범천동브라운도트서면범천점,부산 부산진구 황령대로7번길 20-11,부산 부산진구 범천동 858-52,1565,부산진구,부산,35,129,미등급,64,100개 미만,일반호텔,국내
1373,부산서면leesundeokhotel,부산 부산진구 범천동 황령대로7번길 26,부산 부산진구 범천동 858-67,1566,부산진구,부산,35,129,미등급,미분류,200개 이상,미분류,국내
1374,부산서면프렌치코드,부산 부산진구 황령대로8번길 8,부산 부산진구 범천동 855-12,1567,부산진구,부산,35,129,미등급,미분류,200개 이상,미분류,국내
1375,부산서면사우스반데코호텔,부산 부산진구 서면로 6,부산 부산진구 부전동 534-3,1568,부산진구,부산,35,129,미등급,56,100개 미만,관광호텔,국내
1395,부산사상소르젠떼비지니스호텔,부산 사상구 광장로81번길 55,부산 사상구 괘법동 272-26,1589,사상구,부산,35,129,2성,46,100개 미만,관광호텔업,국내
1396,부산사상호텔더반,부산 사상구 사상로224번길 10,부산 사상구 괘법동 272-2,1590,사상구,부산,0,0,미등급,42,100개 미만,숙박업 기타,국내
1397,부산사상잠101호텔,부산 사상구 새벽로223번길 42,부산 사상구 괘법동 564-14,1591,사상구,부산,0,0,미등급,50,100개 미만,일반호텔,국내
1398,부산사상브라운도트사상르네시떼점,부산 사상구 새벽로223번길 83,부산 사상구 괘법동 566-6,1592,사상구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1399,부산사상하운드사상,부산 사상구 새벽로223번길 117,부산 사상구 괘법동 569-16,1593,사상구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1416,부산광안리스튜디오202,부산 수영구 광안동 202-18,부산 수영구 광안동 202-18,1610,수영구,부산,35,129,미등급,5,100개 미만,숙박업(생활),국내
1417,씨유호텔,부산 수영구 광남로 102,부산 수영구 광안동 199-2,1611,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1418,망고호텔,부산 수영구 남천바다로33번길 90,부산 수영구 광안동 197-1,1615,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1419,광안리하운드호텔,부산 수영구 남천바다로33번길 12,부산 수영구 광안동 204-5,1616,수영구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1421,부산서면넘버25서면역점,부산 부산진구 부전동 260-12,부산 부산진구 부전동 260-12,1618,부산진구,부산,35,129,미등급,30,100개 미만,일반호텔,국내
1422,서면소호호텔,부산 부산진구 동천로107번길 12-8,부산 부산진구 부전동 112-6,1619,부산진구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1423,부산서면홈호텔,부산 부산진구 동천로85번길 10,부산 부산진구 부전동 168-323,1620,부산진구,부산,0,0,미등급,미분류,200개 이상,미분류,국내
1428,라비드아틀란해운대호텔,부산 해운대구 구남로 37,부산 해운대구 중동 1392-166,1625,해운대구,부산,35,129,미등급,113,200개 미만,일반호텔,국내
1473,부산보수동호텔그레이남포점,부산 중구 보수대로124번길 82,부산 중구 보수동2가 105-2,1670,중구,부산,0,0,미등급,미분류,200개 이상,미분류,국내

In [11]:
target.query('region=="부산"').hoteLgrade.value_counts()

미등급    80
2성     16
3성     15
5성      6
4성      4
1성      1
Name: hoteLgrade, dtype: int64

In [9]:
target.hoteLgrade.value_counts()

미등급    290
3성      53
4성      49
5성      32
2성      26
1성       5
Name: hoteLgrade, dtype: int64

In [17]:
taget2=target.groupby('hoteLgrade').apply(lambda x: x.sample(5)).reset_index(drop=True)

In [18]:
taget2

,hotel_name,road_addr,addr,hotel_id,regino_sigugun,region,lat,lng,hoteLgrade,객실수,호텔규모,업태구분명,market
0,호텔라싸,서울 서대문구 연세로2가길 3,서울 서대문구 창천동 18-81,1009,서대문구,서울,0,0,1성,44,100개 미만,관광호텔업,국내
1,호텔브라운도트광안비치점,부산 수영구 남천바다로33번길 31,부산 수영구 광안동 202-4,1414,수영구,부산,0,0,1성,29,100개 미만,소형호텔업,국내
2,중문리조트,제주특별자치도 서귀포시 색달로 117,제주특별자치도 서귀포시 색달동 1821-3,1652,서귀포시,제주,33,126,1성,44,100개 미만,가족호텔_제주,국내
3,호텔케이월드,서울 광진구 동일로 90,서울 광진구 자양동 24-6,980,광진구,서울,0,0,1성,54,100개 미만,관광호텔업,국내
4,브라운도트호텔울산삼산,울산 남구 삼산로383번길 6-17,울산 남구 삼산동 216-12,1669,남구,울산,36,129,1성,50,100개 미만,관광호텔업,국내
5,베이하운드호텔,부산 영도구 태종로65번길 11,부산 영도구 대교동1가 68-1,269,영도구,부산,0,0,2성,69,100개 미만,관광호텔업,국내
6,미포오션사이드호텔,부산 해운대구 달맞이길62번길 28,부산 해운대구 중동 957-1,312,해운대구,부산,0,0,2성,28,100개 미만,소형호텔업,국내
7,부산사상소르젠떼비지니스호텔,부산 사상구 광장로81번길 55,부산 사상구 괘법동 272-26,1589,사상구,부산,35,129,2성,46,100개 미만,관광호텔업,국내
8,지앤지GG관광호텔부산대연동,부산 남구 유엔평화로4번길 34,부산 남구 대연동 1751-16,271,남구,부산,0,0,2성,41,100개 미만,관광호텔업,국내
9,베스트루이스해밀턴호텔광안점,부산 수영구 광안해변로 276,부산 수영구 민락동 181-205,257,수영구,부산,0,0,2성,50,100개 미만,관광호텔업,국내
10,신라스테이서초,서울 서초구 효령로 427,서울 서초구 서초동 1339-1,1095,서초구,서울,37,127,3성,305,200개 이상,관광호텔업,국내
11,호텔페이토삼성,서울 강남구 테헤란로87길 9,서울 강남구 삼성동 158-13,1367,강남구,서울,38,127,3성,163,200개 미만,관광호텔업,국내
12,목시서울인사동호텔,서울 종로구 돈화문로11길 37,서울 종로구 낙원동 134-2,351,종로구,서울,38,127,3성,140,200개 미만,관광호텔업,국내
13,신라스테이울산,울산광역시 남구 삼산로 200,울산광역시 남구 달동 1247-1,217,남구,울산,36,129,3성,335,200개 이상,관광호텔업,국내
14,호메르스호텔,부산 수영구 광안해변로 217,부산 수영구 광안해변로 217,250,수영구,부산,35,129,3성,143,200개 미만,관광호텔업,국내
15,쏠비치진도호텔,전남 진도군 의신면 송군길 30-40,전남 진도군 의신면 초사리 산 287,818,진도군,전라,0,0,4성,98,100개 미만,관광호텔업,국내
16,호텔인나인,서울 강남구 영동대로 618,서울 강남구 삼성동 91-28,1387,강남구,서울,38,127,4성,151,200개 미만,관광호텔업,국내
17,아바니센트럴부산,부산 남구 전포대로 133,부산 남구 문현동 1227-2,139,남구,부산,35,129,4성,281,200개 이상,관광호텔업,국내
18,L7강남,서울 강남구 테헤란로 415,서울 강남구 삼성동 142-42,1378,강남구,서울,38,127,4성,333,200개 이상,관광호텔업,국내
19,스위트호텔남원,전북 남원시 주천면 원천로 217,전북 남원시 주천면 용담리 386-2,843,남원시,전라,0,0,4성,59,100개 미만,관광호텔업,국내
20,힐튼호텔경주,경북 경주시 보문로 484-7,경북 경주시 보문로 484-7,1309,경주시,경상,36,129,5성,330,200개 이상,관광호텔업,국내
21,파크하얏트부산,부산 해운대구 마린시티1로 51,부산 해운대구 우동 1409-3,302,해운대구,부산,35,129,5성,269,200개 이상,관광호텔업,국내
22,그랜드하얏트제주,제주특별자치도 제주시 노연로 12,제주특별자치도 제주시 노형동 925,531,제주시,제주,0,0,5성,750,200개 이상,관광호텔_제주,국내
23,더플라자서울오토그래프컬렉션,서울 중구 소공로 119,서울 중구 태평로2가 23,143,중구,서울,38,127,5성,410,200개 이상,관광호텔업,국내
24,해비치호텔리조트,제주 서귀포시 표선면 민속해안로 537,제주 서귀포시 표선면 표선리 40-69,1466,서귀포시,제주,33,127,5성,215,200개 이상,관광호텔_제주,국내
25,완주힐링,전북 완주군 동상면 동상주천로 160-25,전북 완주군 동상면 신월리 223,1600,완주군,전라,0,0,미등급,미분류,200개 이상,미분류,국내
26,인천부평호텔주노,인천 부평구 대정로36번길 7-1,인천 부평구 부평동 204-26,1526,부평구,인천,0,0,미등급,미분류,200개 이상,미분류,국내
27,부산범일동브라운도트범일점부산역,부산 동구 중앙대로 528,부산 동구 범일동 62-741,1442,동구,부산,0,0,미등급,48,100개 미만,일반호텔,국내
28,창원명서동시카고,경남 창원시 의창구 창이대로99번길 7,경남 창원시 의창구 명서동 204-2,1535,창원시,경상,0,0,미등급,미분류,200개 이상,미분류,국내
29,인천부평넘버25인천부평점,인천 부평구 시장로12번길 24,인천 부평구 부평동 159-11,1525,부평구,인천,0,0,미등급,34,100개 미만,여관업,국내

In [19]:
def process_file(file_path, room, hotel):
    df = pd.read_csv(file_path)
    if 'Unnamed: 0' in df.columns:
        df = df.drop('Unnamed: 0', axis=1)
    df = df.rename(columns={'booked_date':'booking_date'})
    
    
    # 메타 정보 리드하기 
    df['booking_date'] = pd.to_datetime(df['booking_date'], errors='coerce')
    df['scanned_date'] = pd.to_datetime(df['scanned_date'], errors='coerce')
    # 월정보 가져오기 (하나만)
    month = df['booking_date'].iloc[0].strftime('%Y-%m')

    print(f"다음은 {month} 가격 데이터 원본에 대한 메타정보입니다.\n\n")
    print("데이터 프레임 레코드 갯수:", format(df.shape[0], ','))
    print("수집된 숙박업체 갯수", format(df['hotel_id'].nunique(), ','))
    print("수집된 객실 갯수:", format(df['room_id'].nunique(), ','))
    print("가장 빠른 날 in booking_date column:", df['booking_date'].min())
    print("가장 빠른 날 in scanned_date column:", df['scanned_date'].min())
    print("가장 늦은 날 in booking_date column:", df['booking_date'].max())
    print("가장 늦은 날 in scanned_date column:", df['scanned_date'].max())
    print("수집된 객실 인벤토리 범위:", format(df['remain'].nunique(), ','))
    print("객실가 최저가 ", format(df['price'].min(), ','))
    print("객실가 최고가 ", format(df['price'].max(), ','))
    print("\n ----------------------------------")
    
    # 데이터 가공
    # 중복 수집 호텔 제거 
    df = df[df['hotel_id'].isin(taget2['hotel_id'])]
    # 날짜 차이 구하기 
    df['date_diff'] = df['booking_date'] - df['scanned_date']
    # 리드타임 30일 이하 만들기
    df = df[df['date_diff'] < pd.Timedelta(days=31)]
    df['scanned_date_date'] = df['scanned_date'].dt.date

    # OTA정보를 위해 룸테이블 로드
 
    room_ota=room[['room_id', 'hotel_id', 'ota_type']]

    # OTA 정보 업데이트
    df=pd.merge(df, room_ota, how='inner',on=['hotel_id','room_id'] )
    
    #국내 주요 OTA만 남기기 
    domestic=['GOODCHOICE', 'YANOLJA', 'AGODA', 'EXPEDIA',  'BOOKING' ]
    # df 테이블 적용
    df=df[df['ota_type'].isin(domestic)]

    # remian 1 보다 크면 전부다 1로 바꾸기
    df.loc[df['remain'] > 1, 'remain'] = 1
    
    if (df['price'] == 0).any():
        df_price = df.query('price == 0').shape[0]
        df_price_p = round((df_price / df.shape[0]) * 100, 0)

        print(f"전체 행갯수는 {format(df.shape[0], ',')}이고 가격이 0인 칼럼의 갯수는 {format(df_price, ',')}이고 이는 {format(df_price_p, ',')}%입니다.")
        print(f"가격 0 버리기 전: {df.shape}")

        df = df.query('price != 0')
        print(f"가격 0 버리기 후: {df.shape}")
    else:
        print("가격이 0인 행이 존재하지 않습니다.")
        
      # 호텔테이블 로드

    # 지역변수 붙이기
    df=pd.merge(df,hotel[['hotel_id', 'region',]], how='inner',on='hotel_id')
    
      # 상하위 1% 이상치 버리기
    try:
        q_low_by_region = df.groupby('region')['price'].quantile(0.01)
        q_hi_by_region = df.groupby('region')['price'].quantile(0.99)

        print("하위 1% 가격 by region:\n", q_low_by_region)
        print("\n상위 1% 가격 by region:\n", q_hi_by_region)

        # 지역별로 상하위 1% 버리기 
        def filter_quantiles(group):
            q_low = group['price'].quantile(0.01)
            q_hi = group['price'].quantile(0.99)
            return group[(group['price'] > q_low) & (group['price'] < q_hi)]

        print("지역별로 상하위 1% 버리기 before:", df.shape)
        df = df.groupby('region').apply(filter_quantiles).reset_index(drop=True)
        print("지역별로 상하위 1% 버리기 after:", df.shape)

    except Exception as e:
        print("An error occurred during quantile calculation and filtering:", str(e))
    

    return df

In [22]:
import os
from tqdm import tqdm

# 빈 리스트 만들기
df_stats_list = []

# 베이스 디렉토리 잡아주기
base_dir = 'C:/Users/user/Work/hero_master/price/'

# 서브 디렉터리 루프문 만들기
for root, dirs, files in os.walk(base_dir):
    for directory in dirs:
        
        if directory.startswith(('2022' ,'2023','2024')):
            directory_path = os.path.join(root, directory)
            # 폴더 안에 있는 모든 CSV 파일 넣기
            csv_files = [file for file in os.listdir(directory_path) if file.endswith(".csv")]
            # 반복
            for filename in tqdm(csv_files, desc=f"Processing files in {directory}"):
                try:
                    file_path = os.path.join(directory_path, filename)
                    try:
                        df = process_file(file_path,room, hotel)  # Capture the returned DataFrame
                        df_stats_list.append(df)  # Append the DataFrame to the list
                        print(f'처리완료 {filename} \n\n')
                    except Exception as e:
                        print(f'이슈발생.{filename}: {str(e)}\n\n')
                except Exception as e:
                    print(f'파일 로드 이슈발생.{filename}: {str(e)}\n\n')

# 모든 리스트를 하나로 합쳐서 데이터프레임으로 저장하기
df = pd.concat(df_stats_list, ignore_index=True)

Processing files in 2022_1:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2022-01 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 39,327,398
수집된 숙박업체 갯수 1,429
수집된 객실 갯수: 55,382
가장 빠른 날 in booking_date column: 2022-01-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-01-01 00:00:00
가장 늦은 날 in booking_date column: 2022-01-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-01-31 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  95,232,373

 ----------------------------------
전체 행갯수는 845,771이고 가격이 0인 칼럼의 갯수는 41,362이고 이는 5.0%입니다.
가격 0 버리기 전: (845771, 9)
가격 0 버리기 후: (804409, 9)
하위 1% 가격 by region:
 region
경상   49947
부산   46265
서울   49569
울산   62692
인천   35000
전라   45000
제주   83715
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4309811
부산    840000
서울    350000
울산    209000
인천    110000
전라    483000
제주   2578000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (804409, 10)

Processing files in 2022_1:  33%|██████████████████▋                                     | 1/3 [00:25<00:50, 25.31s/it]

지역별로 상하위 1% 버리기 after: (786569, 10)
처리완료 price_1.csv


다음은 2022-02 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 43,413,892
수집된 숙박업체 갯수 1,401
수집된 객실 갯수: 57,004
가장 빠른 날 in booking_date column: 2022-02-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-01-01 00:00:00
가장 늦은 날 in booking_date column: 2022-02-28 00:00:00
가장 늦은 날 in scanned_date column: 2022-02-28 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  84,854,215

 ----------------------------------
전체 행갯수는 1,397,263이고 가격이 0인 칼럼의 갯수는 69,733이고 이는 5.0%입니다.
가격 0 버리기 전: (1397263, 9)
가격 0 버리기 후: (1327530, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   47867
서울   60000
울산   60000
인천   35000
전라   45000
제주   55800
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5171311
부산    760000
서울    352000
울산    210000
인천    105000
전라    526000
제주   2835800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1327530, 10)

Processing files in 2022_1:  67%|█████████████████████████████████████▎                  | 2/3 [00:53<00:27, 27.17s/it]

지역별로 상하위 1% 버리기 after: (1294203, 10)
처리완료 price_2.csv


다음은 2022-03 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 40,699,173
수집된 숙박업체 갯수 1,364
수집된 객실 갯수: 52,048
가장 빠른 날 in booking_date column: 2022-03-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-01-01 00:00:00
가장 늦은 날 in booking_date column: 2022-03-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-03-31 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  24,838,583

 ----------------------------------
전체 행갯수는 1,653,086이고 가격이 0인 칼럼의 갯수는 94,062이고 이는 6.0%입니다.
가격 0 버리기 전: (1653086, 9)
가격 0 버리기 후: (1559024, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   45013
서울   60500
울산   55000
인천   35000
전라   45000
제주   54879
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5214871
부산    742500
서울    352000
울산    997000
인천    115000
전라    364000
제주   2758800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1559024, 10)

Processing files in 2022_1: 100%|████████████████████████████████████████████████████████| 3/3 [01:20<00:00, 26.99s/it]

지역별로 상하위 1% 버리기 after: (1521263, 10)
처리완료 price_3.csv

Processing files in 2022_2:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2022-04 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 38,030,348
수집된 숙박업체 갯수 538
수집된 객실 갯수: 29,941
가장 빠른 날 in booking_date column: 2022-04-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-01-02 00:00:00
가장 늦은 날 in booking_date column: 2022-04-30 00:00:00
가장 늦은 날 in scanned_date column: 2022-04-30 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  23,629,518

 ----------------------------------
전체 행갯수는 1,748,977이고 가격이 0인 칼럼의 갯수는 100,841이고 이는 6.0%입니다.
가격 0 버리기 전: (1748977, 9)
가격 0 버리기 후: (1648136, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   47966
서울   60000
울산   55000
인천   35000
전라   45000
제주   55445
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5317046
부산    825000
서울    343200
울산    909091
인천    115000
전라    407000
제주   2848000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1648136, 10)

Processing files in 2022_2:  33%|██████████████████▋                                     | 1/3 [00:25<00:51, 25.72s/it]

지역별로 상하위 1% 버리기 after: (1612009, 10)
처리완료 price_4.csv


다음은 2022-05 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 42,947,365
수집된 숙박업체 갯수 570
수집된 객실 갯수: 31,494
가장 빠른 날 in booking_date column: 2022-05-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-02-01 00:00:00
가장 늦은 날 in booking_date column: 2022-05-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-05-31 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  16,000,000

 ----------------------------------
전체 행갯수는 1,826,316이고 가격이 0인 칼럼의 갯수는 118,521이고 이는 6.0%입니다.
가격 0 버리기 전: (1826316, 9)
가격 0 버리기 후: (1707795, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   49799
서울   60500
울산   55000
인천   35000
전라   45000
제주   55748
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5276273
부산    913000
서울    341000
울산    904545
인천    115000
전라    580000
제주   2668000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1707795, 10)

Processing files in 2022_2:  67%|█████████████████████████████████████▎                  | 2/3 [00:55<00:28, 28.28s/it]

지역별로 상하위 1% 버리기 after: (1668230, 10)
처리완료 price_5.csv


다음은 2022-06 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 46,731,609
수집된 숙박업체 갯수 628
수집된 객실 갯수: 34,872
가장 빠른 날 in booking_date column: 2022-06-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-03-04 00:00:00
가장 늦은 날 in booking_date column: 2022-06-30 00:00:00
가장 늦은 날 in scanned_date column: 2022-06-30 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  10,593,000

 ----------------------------------
전체 행갯수는 1,613,670이고 가격이 0인 칼럼의 갯수는 126,637이고 이는 8.0%입니다.
가격 0 버리기 전: (1613670, 9)
가격 0 버리기 후: (1487033, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   50000
서울   59000
울산   54546
인천   35000
전라   45000
제주   55800
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4798146
부산    891000
서울    343200
울산    469040
인천    115000
전라    536364
제주   2628000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1487033, 10)

Processing files in 2022_2: 100%|████████████████████████████████████████████████████████| 3/3 [01:27<00:00, 29.14s/it]

지역별로 상하위 1% 버리기 after: (1450777, 10)
처리완료 price_6.csv

Processing files in 2022_3:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2022-07 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 50,345,747
수집된 숙박업체 갯수 663
수집된 객실 갯수: 56,700
가장 빠른 날 in booking_date column: 2022-07-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-04-03 00:00:00
가장 늦은 날 in booking_date column: 2022-07-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-07-31 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  30,200,000

 ----------------------------------
전체 행갯수는 1,693,247이고 가격이 0인 칼럼의 갯수는 187,800이고 이는 11.0%입니다.
가격 0 버리기 전: (1693247, 9)
가격 0 버리기 후: (1505447, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   57035
서울   64000
울산   55000
인천   35000
전라   50000
제주   66450
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5454546
부산   1023000
서울    407000
울산    900000
인천    115000
전라    712000
제주   1097800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1505447, 10)

Processing files in 2022_3:  33%|██████████████████▋                                     | 1/3 [00:34<01:08, 34.02s/it]

지역별로 상하위 1% 버리기 after: (1471249, 10)
처리완료 price_7.csv


다음은 2022-08 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 65,971,513
수집된 숙박업체 갯수 716
수집된 객실 갯수: 65,398
가장 빠른 날 in booking_date column: 2022-08-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-05-04 00:00:00
가장 늦은 날 in booking_date column: 2022-08-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-08-31 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  26,100,000

 ----------------------------------
전체 행갯수는 2,209,045이고 가격이 0인 칼럼의 갯수는 593,909이고 이는 27.0%입니다.
가격 0 버리기 전: (2209045, 9)
가격 0 버리기 후: (1615136, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   58200
서울   65000
울산   55000
인천   35000
전라   50000
제주   62271
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4480200
부산   1221000
서울    447500
울산    270600
인천    115000
전라    712000
제주   1108800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1615136, 10)

Processing files in 2022_3:  67%|█████████████████████████████████████▎                  | 2/3 [01:20<00:41, 41.06s/it]

지역별로 상하위 1% 버리기 after: (1578209, 10)
처리완료 price_8.csv


다음은 2022-09 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 100,933,422
수집된 숙박업체 갯수 731
수집된 객실 갯수: 50,539
가장 빠른 날 in booking_date column: 2022-09-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-06-04 00:00:00
가장 늦은 날 in booking_date column: 2022-09-30 00:00:00
가장 늦은 날 in scanned_date column: 2022-09-30 23:00:00
수집된 객실 인벤토리 범위: 2
객실가 최저가  0
객실가 최고가  15,973,619

 ----------------------------------
전체 행갯수는 2,617,400이고 가격이 0인 칼럼의 갯수는 834,466이고 이는 32.0%입니다.
가격 0 버리기 전: (2617400, 9)
가격 0 버리기 후: (1782934, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   59152
서울   70000
울산   44000
인천   35000
전라   50000
제주   55800
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4000000
부산   1133000
서울    476150
울산    995000
인천    115000
전라    640000
제주   1936000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1782934, 10)

Processing files in 2022_3: 100%|████████████████████████████████████████████████████████| 3/3 [02:31<00:00, 50.66s/it]

지역별로 상하위 1% 버리기 after: (1742970, 10)
처리완료 price_9.csv

Processing files in 2022_4:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2022-10 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 138,165,846
수집된 숙박업체 갯수 750
수집된 객실 갯수: 53,754
가장 빠른 날 in booking_date column: 2022-10-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-07-04 00:00:00
가장 늦은 날 in booking_date column: 2022-10-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-10-31 23:00:00
수집된 객실 인벤토리 범위: 287
객실가 최저가  0
객실가 최고가  2,147,483,647

 ----------------------------------
전체 행갯수는 2,206,017이고 가격이 0인 칼럼의 갯수는 384,323이고 이는 17.0%입니다.
가격 0 버리기 전: (2206017, 9)
가격 0 버리기 후: (1821694, 9)
하위 1% 가격 by region:
 region
경상   50000
부산   59274
서울   70000
울산   74800
인천   35000
전라   50000
제주   66600
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4850001
부산   1276000
서울    580800
울산    596200
인천    105000
전라    686001
제주   2967800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1821694, 10)

Processing files in 2022_4:  33%|██████████████████▋                                     | 1/3 [01:36<03:12, 96.10s/it]

지역별로 상하위 1% 버리기 after: (1780026, 10)
처리완료 price_10.csv


다음은 2022-11 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 123,627,355
수집된 숙박업체 갯수 775
수집된 객실 갯수: 52,435
가장 빠른 날 in booking_date column: 2022-11-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-08-04 00:00:00
가장 늦은 날 in booking_date column: 2022-11-30 00:00:00
가장 늦은 날 in scanned_date column: 2022-11-30 23:00:00
수집된 객실 인벤토리 범위: 340
객실가 최저가  0
객실가 최고가  2,147,483,647

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   60000
부산   57498
서울   70000
울산   63000
인천   35000
전라   50000
제주   66600
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4000000
부산   1034000
서울    590480
울산    469700
인천    115000
전라    674240
제주   2769800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1939711, 10)

Processing files in 2022_4:  67%|█████████████████████████████████████▎                  | 2/3 [02:58<01:28, 88.02s/it]

지역별로 상하위 1% 버리기 after: (1893872, 10)
처리완료 price_11.csv


다음은 2022-12 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 117,834,073
수집된 숙박업체 갯수 1,270
수집된 객실 갯수: 64,537
가장 빠른 날 in booking_date column: 2022-12-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-09-03 00:00:00
가장 늦은 날 in booking_date column: 2022-12-31 00:00:00
가장 늦은 날 in scanned_date column: 2022-12-31 23:00:00
수집된 객실 인벤토리 범위: 346
객실가 최저가  0
객실가 최고가  34,580,001

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    60000
부산    60000
서울    70000
울산    66000
인천    40000
전라   109000
제주    59780
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4000001
부산   1050500
서울    600160
울산    447000
인천    190000
전라    674240
제주   3398000
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2030620, 10)

Processing files in 2022_4: 100%|████████████████████████████████████████████████████████| 3/3 [04:18<00:00, 86.03s/it]

지역별로 상하위 1% 버리기 after: (1983022, 10)
처리완료 price_12.csv

Processing files in 2023_1:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2023-01 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 151,363,536
수집된 숙박업체 갯수 1,639
수집된 객실 갯수: 77,073
가장 빠른 날 in booking_date column: 2023-01-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-10-04 00:00:00
가장 늦은 날 in booking_date column: 2023-01-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-01-31 23:00:00
수집된 객실 인벤토리 범위: 340
객실가 최저가  1,045
객실가 최고가  33,680,001

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    60000
부산    50000
서울    45000
울산    35000
인천    40000
전라   105973
제주    53568
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   3305785
부산    995500
서울    440000
울산    253000
인천    100000
전라    664000
제주   5541800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2312868, 10)

Processing files in 2023_1:  33%|██████████████████▎                                    | 1/3 [01:44<03:28, 104.40s/it]

지역별로 상하위 1% 버리기 after: (2256886, 10)
처리완료 price_01_23.csv


다음은 2023-02 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 166,937,869
수집된 숙박업체 갯수 1,668
수집된 객실 갯수: 80,944
가장 빠른 날 in booking_date column: 2023-02-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-11-04 00:00:00
가장 늦은 날 in booking_date column: 2023-02-28 00:00:00
가장 늦은 날 in scanned_date column: 2023-03-01 23:00:00
수집된 객실 인벤토리 범위: 343
객실가 최저가  1,045
객실가 최고가  16,501,253

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    70000
부산    50000
서울    40000
울산    65000
인천    40000
전라   113756
제주    55800
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   3600001
부산    948200
서울    454960
울산    218997
인천    105000
전라    688000
제주   3000800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2177414, 10)

Processing files in 2023_1:  67%|████████████████████████████████████▋                  | 2/3 [03:32<01:46, 106.71s/it]

지역별로 상하위 1% 버리기 after: (2124761, 10)
처리완료 price_02_23.csv


다음은 2023-03 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 207,065,162
수집된 숙박업체 갯수 1,940
수집된 객실 갯수: 85,285
가장 빠른 날 in booking_date column: 2023-03-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-12-02 00:00:00
가장 늦은 날 in booking_date column: 2023-03-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-04-01 23:00:00
수집된 객실 인벤토리 범위: 344
객실가 최저가  1,045
객실가 최고가  29,750,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   160000
부산    50000
서울    55000
울산    65136
인천    40000
전라   113000
제주    62147
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   4000000
부산    984500
서울    738100
울산    214500
인천    115000
전라    773500
제주   2835800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2568414, 10)

Processing files in 2023_1: 100%|███████████████████████████████████████████████████████| 3/3 [05:33<00:00, 111.20s/it]

지역별로 상하위 1% 버리기 after: (2506535, 10)
처리완료 price_03_23.csv

Processing files in 2023_2:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2023-04 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 199,517,756
수집된 숙박업체 갯수 1,979
수집된 객실 갯수: 85,333
가장 빠른 날 in booking_date column: 2023-04-01 00:00:00
가장 빠른 날 in scanned_date column: 2022-12-03 00:00:00
가장 늦은 날 in booking_date column: 2023-04-30 00:00:00
가장 늦은 날 in scanned_date column: 2023-04-30 23:00:00
수집된 객실 인벤토리 범위: 339
객실가 최저가  1,045
객실가 최고가  16,000,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   160000
부산    50000
서울    65000
울산    68112
인천    40000
전라   112800
제주    66600
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5400001
부산   1072500
서울    738100
울산    216700
인천    130000
전라    894375
제주   3000800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2271472, 10)

Processing files in 2023_2:  33%|██████████████████▎                                    | 1/3 [03:14<06:29, 194.87s/it]

지역별로 상하위 1% 버리기 after: (2218056, 10)
처리완료 price_04.csv


다음은 2023-05 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 219,220,637
수집된 숙박업체 갯수 1,998
수집된 객실 갯수: 85,953
가장 빠른 날 in booking_date column: 2023-05-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-01-02 00:00:00
가장 늦은 날 in booking_date column: 2023-05-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-06-01 23:00:00
수집된 객실 인벤토리 범위: 335
객실가 최저가  1,045
객실가 최고가  16,000,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   160000
부산    50000
서울    65000
울산    70000
인천    35000
전라   116133
제주    62963
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5400000
부산   1089000
서울    677600
울산    297000
인천    130000
전라    778000
제주   3770800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2497129, 10)

Processing files in 2023_2:  67%|████████████████████████████████████▋                  | 2/3 [05:23<02:35, 155.69s/it]

지역별로 상하위 1% 버리기 after: (2440546, 10)
처리완료 price_05.csv


다음은 2023-06 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 218,272,903
수집된 숙박업체 갯수 2,027
수집된 객실 갯수: 91,466
가장 빠른 날 in booking_date column: 2023-06-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-02-02 00:00:00
가장 늦은 날 in booking_date column: 2023-06-30 00:00:00
가장 늦은 날 in scanned_date column: 2023-07-01 23:00:00
수집된 객실 인벤토리 범위: 334
객실가 최저가  3,200
객실가 최고가  16,000,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   160000
부산    50000
서울    65000
울산    62813
인천    35000
전라   129200
제주    66600
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5400000
부산   1080200
서울    641300
울산    216700
인천    130000
전라    852150
제주   3121800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2434712, 10)

Processing files in 2023_2: 100%|███████████████████████████████████████████████████████| 3/3 [08:46<00:00, 175.57s/it]

지역별로 상하위 1% 버리기 after: (2370777, 10)
처리완료 price_06.csv

Processing files in 2023_3:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2023-07 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 227,127,761
수집된 숙박업체 갯수 2,046
수집된 객실 갯수: 97,163
가장 빠른 날 in booking_date column: 2023-07-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-03-04 00:00:00
가장 늦은 날 in booking_date column: 2023-07-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-08-01 23:00:00
수집된 객실 인벤토리 범위: 333
객실가 최저가  3,200
객실가 최고가  16,200,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    50000
부산    50000
서울    65000
울산    62261
인천    45000
전라   129307
제주    85000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5400000
부산   1220000
서울    629200
울산    258500
인천    128000
전라    991800
제주   3781800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2453364, 10)

Processing files in 2023_3:  33%|██████████████████▎                                    | 1/3 [03:13<06:27, 193.75s/it]

지역별로 상하위 1% 버리기 after: (2391811, 10)
처리완료 price_07.csv


다음은 2023-08 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 245,244,044
수집된 숙박업체 갯수 2,065
수집된 객실 갯수: 98,218
가장 빠른 날 in booking_date column: 2023-08-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-04-04 00:00:00
가장 늦은 날 in booking_date column: 2023-08-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-09-01 23:00:00
수집된 객실 인벤토리 범위: 225
객실가 최저가  3,344
객실가 최고가  20,000,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    50000
부산    60000
서울    70000
울산    70000
인천    40000
전라   147881
제주    80000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5400000
부산   1309000
서울    605000
울산    272000
인천    135000
전라    995999
제주   3770800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2522826, 10)

Processing files in 2023_3:  67%|████████████████████████████████████▋                  | 2/3 [06:44<03:23, 203.75s/it]

지역별로 상하위 1% 버리기 after: (2460843, 10)
처리완료 price_08.csv


다음은 2023-09 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 248,805,119
수집된 숙박업체 갯수 2,070
수집된 객실 갯수: 98,690
가장 빠른 날 in booking_date column: 2023-09-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-05-05 00:00:00
가장 늦은 날 in booking_date column: 2023-09-30 00:00:00
가장 늦은 날 in scanned_date column: 2023-09-28 23:00:00
수집된 객실 인벤토리 범위: 221
객실가 최저가  3,560
객실가 최고가  38,650,067

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    50000
부산    55000
서울    75000
울산    69360
인천    40000
전라   110243
제주    73000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5100000
부산   1034000
서울    617100
울산    294000
인천    120000
전라    729300
제주   3011800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (2309452, 10)

Processing files in 2023_3: 100%|███████████████████████████████████████████████████████| 3/3 [10:21<00:00, 207.30s/it]

지역별로 상하위 1% 버리기 after: (2255527, 10)
처리완료 price_09.csv

Processing files in 2023_4:   0%|                                                                | 0/3 [00:00<?, ?it/s]

다음은 2023-10 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 219,647,846
수집된 숙박업체 갯수 2,038
수집된 객실 갯수: 100,987
가장 빠른 날 in booking_date column: 2023-10-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-06-04 00:00:00
가장 늦은 날 in booking_date column: 2023-10-31 00:00:00
가장 늦은 날 in scanned_date column: 2023-11-01 23:00:00
수집된 객실 인벤토리 범위: 222
객실가 최저가  3,400
객실가 최고가  48,329,510

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    50000
부산    55000
서울    80000
울산    71422
인천    40000
전라   123000
제주    90000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5700001
부산   1089000
서울    689700
울산    232650
인천    115000
전라    848445
제주   3011800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1527274, 10)

Processing files in 2023_4:  33%|██████████████████▎                                    | 1/3 [03:06<06:13, 186.75s/it]

지역별로 상하위 1% 버리기 after: (1495021, 10)
처리완료 price_10.csv


다음은 2023-11 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 209,077,192
수집된 숙박업체 갯수 1,865
수집된 객실 갯수: 91,919
가장 빠른 날 in booking_date column: 2023-11-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-07-05 00:00:00
가장 늦은 날 in booking_date column: 2023-11-30 00:00:00
가장 늦은 날 in scanned_date column: 2023-11-30 23:00:00
수집된 객실 인벤토리 범위: 218
객실가 최저가  3,100
객실가 최고가  12,074,832

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상    70000
부산    50000
서울    70000
울산    64680
전라   114855
제주   284592
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5700000
부산   1063700
서울    726000
울산    242000
전라    936320
제주   2989800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1872946, 10)

Processing files in 2023_4:  67%|████████████████████████████████████▋                  | 2/3 [05:10<02:29, 149.64s/it]

지역별로 상하위 1% 버리기 after: (1826401, 10)
처리완료 price_11.csv


다음은 2023-12 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 184,377,381
수집된 숙박업체 갯수 1,849
수집된 객실 갯수: 87,714
가장 빠른 날 in booking_date column: 2023-12-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-08-04 00:00:00
가장 늦은 날 in booking_date column: 2023-12-31 00:00:00
가장 늦은 날 in scanned_date column: 2024-01-01 23:00:00
수집된 객실 인벤토리 범위: 196
객실가 최저가  3,000
객실가 최고가  20,000,000

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   160000
부산    50000
서울    90000
울산    64680
전라   126987
제주   278000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5700000
부산   1045000
서울    946000
울산    245085
전라    936320
제주   3770800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1745373, 10)

Processing files in 2023_4: 100%|███████████████████████████████████████████████████████| 3/3 [06:57<00:00, 139.06s/it]

지역별로 상하위 1% 버리기 after: (1703893, 10)
처리완료 price_12.csv

Processing files in 2024_1:   0%|                                                                | 0/2 [00:00<?, ?it/s]

다음은 2024-01 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 181,377,328
수집된 숙박업체 갯수 1,780
수집된 객실 갯수: 68,283
가장 빠른 날 in booking_date column: 2024-01-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-09-04 00:00:00
가장 늦은 날 in booking_date column: 2024-01-31 00:00:00
가장 늦은 날 in scanned_date column: 2024-02-01 23:00:00
수집된 객실 인벤토리 범위: 191
객실가 최저가  3,000
객실가 최고가  19,999,998

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   158100
부산    48797
서울    75000
울산    61860
전라   116250
제주   278000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5700000
부산    960000
서울    940500
울산    566000
전라    966750
제주   3088800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1847858, 10)

Processing files in 2024_1:  50%|███████████████████████████▌                           | 1/2 [02:34<02:34, 154.97s/it]

지역별로 상하위 1% 버리기 after: (1804880, 10)
처리완료 price_01.csv


다음은 2024-02 가격 데이터 원본에 대한 메타정보입니다.


데이터 프레임 레코드 갯수: 146,025,895
수집된 숙박업체 갯수 1,695
수집된 객실 갯수: 51,230
가장 빠른 날 in booking_date column: 2024-02-01 00:00:00
가장 빠른 날 in scanned_date column: 2023-10-05 00:00:00
가장 늦은 날 in booking_date column: 2024-02-29 00:00:00
가장 늦은 날 in scanned_date column: 2024-03-01 23:00:00
수집된 객실 인벤토리 범위: 175
객실가 최저가  3,460
객실가 최고가  62,419,581

 ----------------------------------
가격이 0인 행이 존재하지 않습니다.
하위 1% 가격 by region:
 region
경상   168300
부산    46416
서울    79965
울산    63000
전라   105750
제주   278000
Name: price, dtype: float64

상위 1% 가격 by region:
 region
경상   5700000
부산    957000
서울    924000
울산    555600
전라    944000
제주   3781800
Name: price, dtype: float64
지역별로 상하위 1% 버리기 before: (1478888, 10)

Processing files in 2024_1: 100%|███████████████████████████████████████████████████████| 2/2 [04:39<00:00, 139.54s/it]

지역별로 상하위 1% 버리기 after: (1446666, 10)
처리완료 price_02.csv

In [23]:
df

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region
0,1535,-64055505,2022-01-02,2022-01-01 11:00:00,1,53476,0 days 13:00:00,2022-01-01,AGODA,경상
1,1535,-64055505,2022-01-03,2022-01-01 11:00:00,1,53476,1 days 13:00:00,2022-01-01,AGODA,경상
2,1535,-64055505,2022-01-03,2022-01-02 11:00:00,1,53476,0 days 13:00:00,2022-01-02,AGODA,경상
3,1535,-64055505,2022-01-03,2022-01-02 23:00:00,1,53476,0 days 01:00:00,2022-01-02,AGODA,경상
4,1535,-64055505,2022-01-04,2022-01-01 11:00:00,1,53476,2 days 13:00:00,2022-01-01,AGODA,경상
...,...,...,...,...,...,...,...,...,...,...
48084997,531,217592658,2024-02-13,2024-01-25 17:00:00,1,932800,18 days 07:00:00,2024-01-25,AGODA,제주
48084998,531,217592658,2024-02-13,2024-01-25 23:00:00,1,932800,18 days 01:00:00,2024-01-25,AGODA,제주
48084999,531,217592658,2024-02-13,2024-01-26 00:00:00,1,932800,18 days 00:00:00,2024-01-26,AGODA,제주
48085000,531,217592658,2024-02-13,2024-01-26 09:00:00,0,932800,17 days 15:00:00,2024-01-26,AGODA,제주
48085001,531,217592658,2024-02-13,2024-01-26 23:00:00,0,932800,17 days 01:00:00,2024-01-26,AGODA,제주

In [27]:
room2=room[['hotel_id','room_id','room_name']]
df2=pd.merge(df,room2, how ='inner', on =['hotel_id','room_id'])
df2

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region,room_name
0,1535,-64055505,2022-01-02,2022-01-01 11:00:00,1,53476,0 days 13:00:00,2022-01-01,AGODA,경상,Double Room
1,1535,-64055505,2022-01-03,2022-01-01 11:00:00,1,53476,1 days 13:00:00,2022-01-01,AGODA,경상,Double Room
2,1535,-64055505,2022-01-03,2022-01-02 11:00:00,1,53476,0 days 13:00:00,2022-01-02,AGODA,경상,Double Room
3,1535,-64055505,2022-01-03,2022-01-02 23:00:00,1,53476,0 days 01:00:00,2022-01-02,AGODA,경상,Double Room
4,1535,-64055505,2022-01-04,2022-01-01 11:00:00,1,53476,2 days 13:00:00,2022-01-01,AGODA,경상,Double Room
...,...,...,...,...,...,...,...,...,...,...,...
48084997,818,284859046,2024-02-29,2024-02-28 08:00:00,0,405000,0 days 16:00:00,2024-02-28,AGODA,전라,"호텔 수페리어 - 패밀리 트윈룸 (간이 주방 없음, 바다 전망) - 인피니티 풀 2..."
48084998,818,284859046,2024-02-29,2024-02-28 09:00:00,1,405000,0 days 15:00:00,2024-02-28,AGODA,전라,"호텔 수페리어 - 패밀리 트윈룸 (간이 주방 없음, 바다 전망) - 인피니티 풀 2..."
48084999,818,284859046,2024-02-29,2024-02-28 23:00:00,1,405000,0 days 01:00:00,2024-02-28,AGODA,전라,"호텔 수페리어 - 패밀리 트윈룸 (간이 주방 없음, 바다 전망) - 인피니티 풀 2..."
48085000,818,284859046,2024-02-29,2024-02-29 00:00:00,1,405000,0 days 00:00:00,2024-02-29,AGODA,전라,"호텔 수페리어 - 패밀리 트윈룸 (간이 주방 없음, 바다 전망) - 인피니티 풀 2..."
48085001,818,284859046,2024-02-29,2024-02-29 23:00:00,1,405000,-1 days +01:00:00,2024-02-29,AGODA,전라,"호텔 수페리어 - 패밀리 트윈룸 (간이 주방 없음, 바다 전망) - 인피니티 풀 2..."

In [29]:
hotel2=hotel[['hotel_name','hotel_id','hoteLgrade','객실수','업태구분명']]
hotel2

      hotel_name  hotel_id hoteLgrade  객실수   업태구분명
0          아르반호텔       101        미등급   94  숙박업 기타
1     솔라리아니시테츠부산       102        미등급  203    일반호텔
2       부산비즈니스호텔       104         3성  233   관광호텔업
3        스탠포드인부산       105         3성  132   관광호텔업
4      크라운하버호텔부산       106        미등급  500    일반호텔
...          ...       ...        ...  ...     ...
2972        RG호텔     11602        미등급  미분류     미분류
2973        더월호텔     11603        미등급  미분류     미분류
2974     호텔월드스테이     11604        미등급  미분류     미분류
2975        파브모텔     11605        미등급  미분류     미분류
2976       깨비스테이     11606        미등급  미분류     미분류

[2952 rows x 5 columns]

In [30]:
df2=pd.merge(df2,hotel2, how ='inner', on =['hotel_id',])
df2

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region,room_name,hotel_name,hoteLgrade,객실수,업태구분명
0,1535,-64055505,2022-01-02,2022-01-01 11:00:00,1,53476,0 days 13:00:00,2022-01-01,AGODA,경상,Double Room,창원명서동시카고,미등급,미분류,미분류
1,1535,-64055505,2022-01-03,2022-01-01 11:00:00,1,53476,1 days 13:00:00,2022-01-01,AGODA,경상,Double Room,창원명서동시카고,미등급,미분류,미분류
2,1535,-64055505,2022-01-03,2022-01-02 11:00:00,1,53476,0 days 13:00:00,2022-01-02,AGODA,경상,Double Room,창원명서동시카고,미등급,미분류,미분류
3,1535,-64055505,2022-01-03,2022-01-02 23:00:00,1,53476,0 days 01:00:00,2022-01-02,AGODA,경상,Double Room,창원명서동시카고,미등급,미분류,미분류
4,1535,-64055505,2022-01-04,2022-01-01 11:00:00,1,53476,2 days 13:00:00,2022-01-01,AGODA,경상,Double Room,창원명서동시카고,미등급,미분류,미분류
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48084997,1652,117069351,2023-05-03,2023-04-16 23:00:00,1,73326,16 days 01:00:00,2023-04-16,AGODA,제주,Small Room,중문리조트,1성,44,가족호텔_제주
48084998,1652,117069351,2023-05-05,2023-04-16 23:00:00,1,85216,18 days 01:00:00,2023-04-16,AGODA,제주,Small Room,중문리조트,1성,44,가족호텔_제주
48084999,1652,186053192,2023-09-01,2023-08-05 00:00:00,1,83070,27 days 00:00:00,2023-08-05,AGODA,제주,스몰룸 (Small Room),중문리조트,1성,44,가족호텔_제주
48085000,1652,186053192,2023-09-01,2023-08-05 11:00:00,0,83070,26 days 13:00:00,2023-08-05,AGODA,제주,스몰룸 (Small Room),중문리조트,1성,44,가족호텔_제주
48085001,1652,186053192,2023-09-01,2023-08-05 23:00:00,0,83070,26 days 01:00:00,2023-08-05,AGODA,제주,스몰룸 (Small Room),중문리조트,1성,44,가족호텔_제주

In [31]:
df2.to_csv('hotel_price_price_raw_2201_2402.csv', encoding='utf-8-sig', index=False)

In [32]:
taget2.to_csv('hotel_meta_2201_2402.csv', encoding='utf-8-sig', index=False)